main img {
    width: 100%;
}

nav {
    background-color:rgb(11, 137, 246);
}

nav a {
    color: rgb(58, 10, 103);
    text-decoration: none;
}

nav > ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0px;

}

nav > ul > li {
    background-color: rgb(150, 225, 150);
    padding: 12px;
}

nav > ul > li:hover {
    background-color: rgb(196, 137, 218);
}

.dropdown {
    position: relative;
}

.dropdown ul {
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    position: absolute;
    left: 0px;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.5s,
        visibility 0.5s
        top 0.5s;
}

.dropdown:hover ul {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.dropdown ul li  {
    background-color: rgb(243, 201, 76);
    padding: 12px;
    width: 150px;
}

.textAndImage {
    align-items: center;
    display: flex;
    margin: 24px;
}

.textBlock {
    flex: 1;
}

.imageBlock {
    flex: 1;
}

.imageBlock img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: 50% 25%;
}

@media screen and (max-width: 768px) {
    nav > ul  {
        flex-direction: column;
    }
}
