

#evalGallery {
    display:flex;
    flex-wrap: wrap;
    width: 800px;
    max-width: 100%;
    margin:auto;
}

#gallery img {
    height: 200px;
    margin: 12px;
    flex: 1 0 auto;
    object-fit: cover;
    opacity: 0.8;
    transition: opacity 0.25s, transform 0.25s;
}