body {
    margin: 0px;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(144, 231, 159);
    flex-direction: column;
    font-size: 50px;
    border: 2px solid black;
}

#gallery1 img {
    height: 500px;
    margin:12px;
    flex: 1 0 auto;
    object-fit: cover;
    
}

