body {
    margin: 0px;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(144, 231, 159);
    flex-direction: column;
    font-size: 50px;
}

#gallery1 img {
    width: 500px;
    margin: 24px;
}